/*this gets rid of the weird margin seen on phones*/
html,body {
  padding:0; 
  margin:0;
}

body {
  padding-bottom: 40px;
  background: #eeeeee;
  font-family: HelveticaNeue;
  text-shadow: 1px 1px 1px #FFF;  

}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

/*making fonts smaller for smaller screens*/
@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
    line-height: 100%;
  }

  h3 {
    font-size: 15px;
    line-height: 100%;
  }

  p {
    font-size: 12px;
    line-height: 120%;
  }
}
/* Custom container */
.container-narrow {
  margin-top: 0px;
  width: 1100px;
  margin:0 auto;
}


@media (max-width: 480px) {
  .container-narrow, .row-fluid, .row {
    margin:0px;
    padding: 0px;
    width: 100%;
  }

}

#section1 {
  height:500px;
  background: url(../assets/header_bg.jpg) no-repeat;        
  background-size: auto 100%;
}

.inner {
  padding: 40px 70px 20px 50px;
}

#section1 #header {
  padding: 10px;
  height: 100px;
}

#language_button {
  float: right;
  padding-top: 20px;
}

@media (max-width: 480px) {
  #section1 {
    height: 600px;
  }
  #language_button {
    float: none;
    padding-top: 20px;
  }
  #inner {
    padding: 10px 20px 5px 10px;
  }
}

#logo {
  float:left;
  padding-bottom: 40px;
}

#tag_line {
  font-size: 25px;
  margin-left: 20px;  
  color: white;
  height: 40px;
}

#description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-left: 20px;  
  color: white;
  text-shadow: 0.5px 0.5px 0.5px #FFF; 
  width:45%;

}

@media (max-width: 480px) {
  #logo {
    padding-bottom: 20px;
  }
  #description {
    width: 90%;
  }
}

.stores {
  padding-top: 10px;  
}

.stores img {
  width: 60;
  height: 20;

}

#section2, #section4, #section6{
  background: white;  
  height: 640px;
  color: #545454;
  margin-left: 0px;
}

#section2 #backimg2 {
  margin-top: 30px;
  margin-left: 100px;
  height: 600px;
  background: url(../assets/ptt_hand.jpg) no-repeat;
  background-size:350px 600px;
}

#ptt_girl{
  padding-top: 40px;
  padding-right: 20%;
  float: right;
}

#ppt_boy {
  padding-top: 220px;
  margin-left: -40px;
  float:left;
}

#section2 img {
  height: 100px;
}

#setion2 .right_col {
  padding-top: 40px;
  background: white;  
}


/* Landscape phones and down */
@media (max-width: 480px) {
  #section2 {
    height: 900px;
  }
  #section2 #backimg2 {
    background-size: 100% auto;
  }
}


#section3, #section5 {
  background: url(../assets/bg_gray_tile.jpg);
}

#section3 #backimg3 {
  margin-left:auto; margin-right:0px;
  height: 540px;
  background: url(../assets/groupchat_phone.png) no-repeat;
  background-size:415px 540px;

}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section3 {
    height: 900px;
  }

  #section3 #backimg3 {
    margin-left: 20px;
    background-size:320px 416px; 
  }
}

#section4 #backimg4 {
  margin-top: 60px;
  margin-left: 80px;
  height: 400px;
  background: url(../assets/winks_coverflow.jpg) no-repeat;
  background-size:482px 400px;  
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section4 {
    height: 800px;
  }
  #section4 #backimg4 {
    margin-left: 20px;
    background-size:320px 266px; 
    height: 270px;
  }
}

#section5 #backimg5 {
  height: 480px;
  background: url(../assets/questions_phone.png) no-repeat;
  background-size:410px 480px;  
  margin-right:auto; margin-left:0px;

}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section5 {
    height: 820px;
  }
  #section5 #backimg5 {
    margin-top: 20px;
    margin-left: 20px;
    background-size:320px 370px; 
    height: 400px;

  }
}

#section6 #backimg6 {
  height: 460px;
  margin: 80px 0px 0px 100px;
  background: url(../assets/publicchat_earth.png) no-repeat;
  background-size:390px 345px;  

}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section6 {
    height: 820px;
  }
  #section6 #backimg6 {
    margin-top: 20px;
    margin-left: 10px;
    background-size:320px 285px; 
    height: 300px;
  }
}

#footnote {
  line-height:0.1em; 
  height: 0;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  padding-top: 10px;
  text-align: center;
}

#bottom_row {
  text-align: center;  
}

@font-face {
  font-family: 'Coquette';
  src: url('../assets/Coquette Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/HelveticaNeueLTStd-Th.otf');
  font-weight: normal;
  font-style: normal;
}



#contact_header {
  height:300px;
  background: url(../assets/green_background.png) no-repeat;        
  background-size:1100px 300px;
}


/* Landscape phones and down */
@media (max-width: 480px) {
  #contact_header {
    height:400px;
    background-size:1100px 400px;
  }

}

#contact_body {
  background: white;
  height: 300px;
}

#store_wrapper {
  height: 200px;
  width: 200px;
}

.store_vertical {
  padding: 10px 0px 0px 60px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #contact_body {
    height: 800px;
  }

}

#contact_body a {
  color: green;
}

/*terms*/
#terms_body {
  padding: 20px;
}