/*this gets rid of the weird margin seen on phones*/
html,body {
  padding:0; 
  margin:0;
}

body {
  background: #eeeeee;
  font-family: HelveticaNeue;
  text-shadow: 0px 1px 1px #FFF;  

}

h1 {
  font-size: 40px;
  padding-left: 0px;
}

h2 {
  font-size: 25px;
  line-height: 120%;

}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 140%;

}

/*making fonts smaller for smaller screens*/
@media (max-width: 480px) {
  h1 {
    font-size: 2em;
    font-style: bold;
  }

  h2 {
    font-size: 1.6em;
    line-height: 100%;
  }

  h3 {
    font-size: 1.4em;
    line-height: 100%;
  }

  p {
    font-size: 1.2em;
    line-height: 120%;
  }
}
/* Custom container */
.container-narrow {
  margin:0 auto;
  padding: 0px;
  width: 1100px;
  background-color: white;
  -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
  -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
  box-shadow: 0px 3px 10px rgb(100,100,100);
}


@media (max-width: 480px) {
  .container-narrow, .row-fluid, .row {
    margin:0px;
    padding: 0px;
    width: 100%;
  }
}

#section1 {
  height:511px;
  background: url(../assets/header_bg.jpg) no-repeat;        
  background-size: auto 100%;
}

.inner {
  padding: 40px 70px 20px 50px;
}

.inner_text {
  padding: 40px 20% 20px 0px;
}

#header {
  padding: 10px;
  margin-bottom: 40px;
  height: 80px;
}

#language_button {
  float: right;
  padding-top: 10px;
}


@media (max-width: 480px) {
  #section1 {
    height: 600px;
  }

  #header {    
    text-align: center;
    height: 120px;
  }

  #language_button {
    float: none;
  }
  .inner {
    padding: 5%;
    margin: 0% 5% 5% 5%;
  }
  .inner_text {
    padding: 40px 20% 20px 5%;
  }
}

#logo {
  float:left;
  padding-bottom: 20px;
}

#tag_line {
  font-size: 25px;
  margin-left: 20px;  
  color: white;
  height: 40px;
}

#description {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-left: 20px;  
  color: white;
  text-shadow: 0px 0.5px 0.5px #FFF; 
  width:45%;

}

@media (max-width: 480px) {
  #logo {
    padding-top: 30px;
    padding-bottom: 0px;
    width: 100%;
  }
  #tag_line {
    margin-left: 5%;
  }
  #description {
    margin-left: 5%;

    width: 90%;
  }
}

.stores {
  padding-top: 10px;  
}

.stores img {
  width: 140%;
  height: auto;
}

@media (max-width: 480px) {
  .stores img{
    margin-left: 15%;
    width: 70%;
  }
}


#section2, #section4, #section6{
  background: white;  
  height: 530px;
  color: #545454;
  margin-left: 0px;
}

#section2 #backimg2 {
  margin-top: 30px;
  margin-left: 20%;
  background: url(../assets/ptt_hand.jpg) no-repeat;
  background-size: 90% auto;
  height: 460px;
  
}

#ptt_girl{
  padding-top: 40px;
  padding-right: 30%;
  float: right;
}

#ppt_boy {
  padding-top: 160px;
  margin-left: -40px;
  float:left;
}

#section2 img {
  height: 100px;
}

#setion2 .right_col {
  padding-top: 40px;
  background: white;  
}


/* Landscape phones and down */
@media (max-width: 480px) {
  #section2 {
    height: 900px;
  }
  #section2 #backimg2 {
    background-size: 100% auto;
    height: 420px;
  }
}

#section3, #section5 {
  background: url(../assets/bg_gray_tile.jpg);
}

#section3 #backimg3 {
  margin-left:auto; margin-right:0px;
  height: 460px;
  background: url(../assets/groupchat_phone.png) no-repeat;
  background-size:415px 540px;

}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section3 {
    height: 900px;
  }

  #section3 #backimg3 {
    height: 420px;
    margin-left: 10%;
    background-size:90% auto; 
  }
}

#section4 #backimg4 {
  margin-top: 60px;
  margin-left: 80px;
  height: 370px;
  background: url(../assets/winks_coverflow.jpg) no-repeat;
  background-size:90% auto;  
}


#section4, #section6 {
  height: 450px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section4 {
    height: 740px;
  }
  #section4 #backimg4 {
    margin-left: 10%;
    background-size:90% auto; 
    height: 250px;
  }
}

#section5 #backimg5 {
  height: 420px;
  background: url(../assets/questions_phone.png) no-repeat;
  background-size:auto 100% ;  
  margin-right:auto; margin-left:0px;

}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section5 {
    height: 680px;
  }
  #section5 #backimg5 {
    margin-left: 5%;
    background-size:90% auto; 
    height: 400px;
  }
}

#section6 #backimg6 {

  height: 400px;
  margin: 40px 0px 0px 100px;
  background: url(../assets/publicchat_earth.png) no-repeat;
  background-size:90% auto;  

}

/* Landscape phones and down */
@media (max-width: 480px) {
  #section6 {
    height: 700px;
  }
  #section6 #backimg6 {
    margin-left: 5%;
    background-size:90% auto; 
    height: 230px;

  }
}
#footnote {
  margin-top: 10px;
  background: url(../assets/footer_c.png) no-repeat;
  background-position:top center;
  position: relative;  
  height: 30px;
}


.footer {
  padding-top: 10px;
  text-align: center;
}

#bottom_row {
  text-align: center;  
}

@font-face {
  font-family: 'Coquette';
  src: url('../assets/Coquette Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/HelveticaNeueLTStd-Th.otf');
  font-weight: normal;
  font-style: normal;
}

#contact_header {
  height:300px;
  background: url(../assets/green_background.png) no-repeat;        
  background-size:1100px 300px;
}


/* Landscape phones and down */
@media (max-width: 480px) {
  #contact_header {
    height:500px;
    background-size:1100px 500px;
  }

}

#contact_body {
  background: white;
  height: 300px;
}

#store_wrapper {
  height: 200px;
  width: 200px;
}

.store_vertical {
  padding: 10px 0px 0px 60px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #contact_body {
    height: 670px;
  }

}

#contact_body a {
  color: #72bb01;
}

/*terms*/
#terms_body {
  padding: 20px;
}