body {
  padding-bottom: 40px;
  background: #eeeeee;
  font-family: HelveticaNeue;
  text-shadow: 1px 1px 1px #FFF;   
}


h1 {
  font-size: 53px;
  height: 40px;
}

h2 {
  margin-top: 20px;
  font-size: 29px;
}

p {
  font-size: 18px;
}

/* Custom container */
.container-narrow {
  margin-top: 0px;
  max-width: 1100px;
  margin:0 auto;
}
.container-narrow > hr {
  margin: 30px 0;
}

#section1 {
  height:500px;
  background: url(../assets/header_bg.jpg) no-repeat;        
  background-size:1100px 520px;
}

.inner {
  padding: 20px 70px 20px 70px;
}

#section1 #header {
  padding: 10px;
  height: 100px;
}

#language_button {
  float: right;
  padding-top: 20px;
}

#logo {
  float:left;
}

#tag_line {
  font-size: 25px;
  margin-left: 20px;  
  color: white;
  height: 40px;

}

#description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-left: 20px;  
  color: white;
  text-shadow: 0.5px 0.5px 0.5px #FFF; 
  width:250px;

}

.stores {
  padding-top: 10px;  
  padding-left: 20px;

}

#section2, #section4, #section6{
  background: white;  
  height: 640px;
  color: #545454;
}

#section2 #backimg2 {
  margin-top: 30px;
  margin-left: 120px;
  height: 600px;
  background: url(../assets/ptt_hand.jpg) no-repeat;
  background-size:350px 600px;
}
#section2 #ptt_girl {
  height: 20px;
  margin: auto;
  clear: both;
}
#section2 #ptt_boy {
  margin-top:100px;
  clear: both;
}

#section2 img {
  height: 100px;
}

#setion2 .right_col {
  padding-top: 40px;
}


#section3, #section5 {
  background: url(../assets/bg_gray_tile.jpg);
}

#section3 #backimg3 {
  margin-left: 80px;
  height: 540px;
  background: url(../assets/groupchat_phone.png) no-repeat;
  background-size:415px 540px;
}

#section4 #backimg4 {
  margin-top: 60px;
  margin-left: 80px;
  height: 400px;
  background: url(../assets/winks_coverflow.jpg) no-repeat;
  background-size:482px 400px;  
}

#section5 #backimg5 {
  height: 480px;
  background: url(../assets/questions_phone.png) no-repeat;
  background-size:410px 480px;  

}

#footnote {
  text-align:center; 
  line-height:0.1em; 
  margin:10px 0 20px; 
}

#footer p{
  float: right;
  text-align: center;
}

@font-face {
  font-family: 'Coquette';
  src: url('../assets/Coquette Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../assets/HelveticaNeueLTStd-Th.otf');
  font-weight: normal;
  font-style: normal;
}


/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}