h2 {
  font-size: 26px;
  line-height: 120%;

}

h3 {
  font-size: 21px;
  line-height: 130%;
}

p {
  font-size: 18px;
  line-height: 140%;

}


/*making fonts smaller for smaller screens*/
@media (max-width: 480px) {
  h1 {
    font-size: 2.2em;
    font-style: bold;
  }

  h2 {
    font-size: 1.6em;
    line-height: 100%;
  }

  h3 {
    font-size: 1.4em;
    line-height: 100%;
  }

  p {
    font-size: 1.3em;
    line-height: 120%;
  }
}